@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  min-width: 100%;
  overflow: hidden;
  @apply transition-all;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100dvh;
  padding: 0;
}

.no-scrollbar-buttons::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
