@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  padding: 0;
}

.no-scrollbar-buttons::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@utility pl-safe-left {
  padding-left: env(safe-area-inset-left);
}

@utility pr-safe-right {
  padding-right: env(safe-area-inset-right);
}

@utility pt-safe-top {
  padding-top: env(safe-area-inset-top);
}

@utility pb-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility bottom-safe {
  bottom: env(safe-area-inset-bottom);
}

@utility right-safe {
  right: env(safe-area-inset-right);
}
